name: Terraform CI/CD

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      action:
        description: "Terraform action (apply or destroy)"
        required: true
        default: "apply"

permissions:
  id-token: write        # Required for OIDC
  contents: read

jobs:
  terraform:
    name: Run Terraform (${{ github.event.inputs.action || 'apply' }})
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::666053141215:role/GitHubActionsRole
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform Init
        run: terraform -chdir=terraform-project-infra init

      - name: Terraform Validate
        run: terraform -chdir=terraform-project-infra validate

      - name: Terraform Plan or Destroy
        run: |
          ACTION=${{ github.event.inputs.action }}
          DIR=terraform-project-infra
          if [ "$ACTION" = "destroy" ]; then
            terraform -chdir="$DIR" plan -destroy -out=tfplan
            terraform -chdir="$DIR" apply -auto-approve tfplan
          else
            terraform -chdir="$DIR" plan -out=tfplan
            terraform -chdir="$DIR" apply -auto-approve tfplan
          fi
